/* Select by tagname */
body {
    background-color: tan;
}
h1 {
  color: navy;
}

/* Select by classname */
.header-alt {
  border-bottom: 10px solid black;
}

/* Select a single element by its ID */
#header-primary {
  text-transform: uppercase;
}

/* Select all H1s AND all .header-alts */
h1,
.header-alt {
  border-top: 8px solid gray;
  border-bottom: 10px solid black;
  background-color: brown;
}

/* Use descendent selectors */
div p {
  font-style: italic;
}

p {
    font-family: "Geneva", Times, bold;
}


/* Target all p's and a's inside of divs */
div p, div a {}